@import "../../mixins/auth_form_mixins.scss";
@import "../../mixins/media_query_mixins.scss";

.loginForm {
  @include auth-pages-bg-color;
  position: relative;
}

.formContainer {
  @include auth-form-container;
  position: absolute;
  left: 400px;
  top: 20px;
  width: 540px;
  height: 500px;

  @include mobile-media-query {
    position: relative;
    top: 100px;
    left: 5%;
    height: 100%;
    width: 80%;
  }

  h1 {
    font-size: 20px;
  }

  form {
    @include auth-form-and-items;
    margin-top: 20px;
    gap: 30px;

    @include mobile-media-query {
      margin-top: 0;
      gap: 20px;
    }

    .formItem {
      @include auth-form-and-items;
      gap: 20px;

      @include mobile-media-query {
        gap: 10px;
      }

      label {
        font-weight: 600;
      }

      input {
        padding: 10px;

        @include mobile-media-query {
          width: 90%;
        }
      }
    }

    button {
      padding: 15px;
      width: 520px;
      text-align: center;

      @include mobile-media-query {
        width: 70%;
        align-self: center;
      }
    }
  }

  p {
    &:not(.formTitle) {
      margin-top: 50px;
    }

    &.formTitle {
      font-weight: 600;
    }

    font-weight: 500;
  }

  a {
    text-decoration: none;
  }
}
