@import "../variables.module.scss";

.authButton {
  background-color: $buttonColor;
  color: white;
  border-radius: 6px;
  font-weight: 600;
  border: 0.5px solid $buttonColorHover;
  box-shadow: 2px 5px rgba(0, 0, 0, 0.1);

  &:active {
    transform: translateY(4px);
    transition: transform, 0.1s ease-in;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
  }

  &:focus,
  &:hover {
    color: white;
    background-color: $buttonColorHover;
  }
}
