@import "../variables.module.scss";

.inputStyle {
  &::placeholder {
    font-size: 16px;
    color: $textColorSecondary;
  }

  &:focus {
    border-color: black;
  }

  border-color: $borderColor;
  border-radius: $borderRadius;
  outline: none;
}
