@import "../../app/variables.module.scss";
@import "./sidenavs_mixin.scss";

.parentContainer {
  grid-column: 3;
  align-items: flex-start;
  justify-content: center;
  padding-top: $padding1;
  padding-left: $padding1;
  @include sidenav-styling;

  .avatarImageContainer {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: black;
  }

  h2,
  h3 {
    font-size: 20px;
    font-weight: 700;
  }

  h2 {
    margin-bottom: 0;
  }

  h3 {
    color: $textColorSecondary;
  }

  .parentContainerItem {
    display: flex;
    align-items: center;
    gap: $padding1;
    border-radius: 12px;
    font-size: 14px;
    width: 240px;

    &:focus,
    &:hover {
      background-color: $borderColor;
    }
  }
}
