@import "../../app/variables.module.scss";
@import "./sidenavs_mixin.scss";

.parentContainer {
  grid-column: 1/2;
  padding: $padding1;
  font-weight: 600;
  font-size: 18px;
  align-items: center;
  @include sidenav-styling;
  border-right: 1px solid $borderColor;
}

.parentContainerItem{
  display: flex;
  align-items: center;
  gap: $padding1;
  border-radius: 12px;
  padding: $padding1;

  &:focus,
  &:hover {
    background-color: $borderColor;
  }
}
