@import "../app/variables.module.scss";

.majorButton {
  width: 240px;
  border-radius: 12px;
  background-color: transparent;
  border: 0.5px solid $textColorPrimary;
  box-shadow: 2px 5px rgba(0, 0, 0, 0.1);

  &:active {
    transform: translateY(4px);
    transition: transform, 0.1s ease-in;
  }

  p {
    font-size: 12px;
    font-weight: 600;
  }
}
