@import "../../variables.module.scss";
@import "../../mixins/media_query_mixins.scss";

.mobileSideNav {
  display: none;

  @include mobile-media-query {
    display: block;
    width: 300px;
    height: 100vh;
    background-color: white;
    position: fixed;
    z-index: 9999;
    border-top: 1px solid $borderColor;
    padding: $padding1 + 5px;
    transform: translateX(-120%);
    transition: transform 0.5s ease-out;
    top: 60px;
    &.active {
      transform: translateX(0);
      transition: transform 0.5s ease-in;
    }

    .mobileSideNavUpper {
      border-bottom: 1px $borderColor solid;

      &.mobileSideNavUpperAuthenticated {
        border-bottom: 0;
      }

      .sectionTitle {
        text-transform: uppercase;
        color: $textColorSecondary;
        font-weight: 600;
      }

      .detailsAndSettingsContainer {
        .userDetails {
          display: flex;
          gap: 30px;

          img {
            border-radius: 50%;
          }

          .userInternetNames {
            display: flex;
            flex-direction: column;
            gap: 20px;

            a {
              text-decoration: none;
              color: black;

              &:visited {
                color: black;
              }

              &:hover,
              &:focus {
                color: $textColorActive;
                outline: none;
              }
            }

            p {
              margin: 0;

              &.username {
                font-weight: 600;
              }

              &.userHandle {
                font-weight: 500;
              }
            }
          }
        }
      }
    }

    .mobileSideNavLower {
      button {
        padding: 10px;
        width: 80%;
      }

      .mobileSideNavLowerUpper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      span {
        color: $textColorActive;
      }
    }
  }
}
