@import "./variables.module.scss";
@import "./mixins/media_query_mixins.scss";

.right {
  padding: $padding1;
  margin-left: 330px;

  .rightInactive {
    display: none;

    @include mobile-media-query {
      display: block;
      height: 100vh;
      width: 100%;
      position: fixed;
      z-index: 8000;
      top: 0;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  @include mobile-media-query {
    margin-left: 0;
  }
}
