$textColorPrimary: #000000;
$textColorSecondary: rgba(0, 0, 0, 0.3);
$textColorActive: #368ef4;
$borderColor: rgba(139, 139, 139, 0.25);
$padding1: 10px;
$buttonColor: #4caf50;
$buttonColorHover: rgba(76, 175, 80, 0.9);
$loaderBorderColor: #f3f3f3;
$loaderSpinnerColor: #3498db;
$hoverColor: rgba(0, 0, 0, 0.15);
$authFormsBgColor: rgba(0, 0, 0, 0.05);
$borderRadius: 6px;

:export {
  textColorPrimary: $textColorPrimary;
  textColorSecondary: $textColorSecondary;
  textColorActive: $textColorActive;
  borderColor: $borderColor;
  padding1: $padding1;
  buttonColor: $buttonColor;
  buttonColorHover: $buttonColor;
  borderRadius: $borderRadius;
  loaderBorderColor: $loaderBorderColor;
  loaderSpinnerColor: $loaderSpinnerColor;
  authFormsBgColor: $authFormsBgColor;
}
