@import "../mixins/media_query_mixins.scss";
@import "../variables.module.scss";

.profilePageBody {
  position: relative;
  top: 80px;

  ul {
    list-style: none;
  }

  @include mobile-media-query {
    top: 60px;
  }

  .profilePageContent {
    display: grid;
    grid-template-columns: 1.7fr 1fr;
    padding: $padding1;
    margin-left: 325px;

    @include mobile-media-query {
      margin-left: 0;
      grid-template-columns: 1fr;
      grid-template-rows: 450px 1fr;
      padding: 0;

      .profilePosts {
        grid-row: 2;
      }
    }
  }
}
