@import "../mixins/media_query_mixins.scss";
@import "../mixins/loading_page_overlay_mixin.scss";
@import "../variables.module.scss";

.loadingPageOverlay {
  @include loading-page-overlay;
}

.profilePageContent {
  display: grid;
  grid-template-columns: 1.7fr 1fr;
  padding: $padding1;
  margin-left: 325px;
  position: relative;
  top: 0;

  ul {
    list-style: none;
  }

  @include mobile-media-query {
    margin-left: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 450px 1fr;
    padding: 0;
    top: 60px;

    .profilePosts {
      grid-row: 2;
    }
  }
}
