.header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
}

.contentContainer {
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
    margin-top: 68px;
    height: 100vh;
}

.someImportantButtons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
}