.postHeader {
    display: flex;
    gap: 15px;

    .authorAvatar {
        border-radius: 50%;
        width: 55px;
        height: 55px;
    }

    .postUserDetails {
        display: flex;
        flex-direction: column;
        gap: 5px;

        h4 {
            margin-bottom: 0;
            margin-top: 0;
        }

    }

    p {
        margin-top: 0;
    }
}

.postImage {
    border-radius: 12px;
}

.postInteractionButtons {
    display: flex;
    margin-top: 5px;
    margin-bottom: 15px;
    gap: 15px;
    align-items: center;
}