@import "../../variables.module.scss";

.postCardActionItem {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 20px 0 20px;
  border-radius: $borderRadius;
  margin: 10px 0 10px 0;

  &:hover,
  &:focus {
    outline: none;
    background-color: $hoverColor;
  }
}
