@import "../../variables.module.scss";
@import "../../mixins/media_query_mixins.scss";

.postCardActionItem {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: $borderRadius;
  padding: $padding1/2;

  &:hover,
  &:focus {
    outline: none;
    background-color: $hoverColor;
  }

  p {
    font-size: 14px;
  }

  .postCardActionName {
    display: inline;
  }

  @include mobile-media-query {
    padding: 0;
    margin-right: 10px;
    justify-content: space-between;

    .postCardActionName {
      display: none;
    }
  }
}
