@import "../../variables.module.scss";
@import "../../mixins/media_query_mixins.scss";

.postCard {
  border: 1px solid $borderColor;
  padding: $padding1 * 2;
  background-color: white;
  height: 100%;
  width: 550px;
  border-radius: $borderRadius;
  margin-bottom: 30px;

  @include mobile-media-query {
    width: 94%;
    padding: $padding1;
    margin-bottom: 20px;
  }

  .postCardHeader {
    display: flex;
    align-items: center;
    gap: 30px;

    @include mobile-media-query {
      gap: 20px;
    }

    img {
      border-radius: 50%;
    }

    h3,
    h4 {
      outline: none;
    }

    h3 {
      font-weight: 600;

      &:focus,
      &:hover {
        color: $textColorActive;
      }

      @include mobile-media-query {
        font-size: 16px;
      }
    }

    h4 {
      font-weight: 500;
      color: $textColorSecondary;

      &:not(.timeStamp):focus,
      &:not(.timeStamp):hover {
        color: $textColorActive;

        @include mobile-media-query {
          margin-bottom: 0;
          font-size: 14px;
        }
      }

      &.timeStamp {
        margin-top: 0;
        margin-bottom: 40px;
      }
    }
  }

  .postCardContent {
    img {
      border-radius: $borderRadius;
    }
  }
}
