@import "../../mixins/loading_page_overlay_mixin.scss";
@import "../../mixins/media_query_mixins.scss";
@import "../../variables.module.scss";

.loadingPageOverlay {
  @include loading-page-overlay;
}

.siteBody {
  position: relative;
  top: 80px;

  @include mobile-media-query {
    top: 60px;
  }

  li {
    list-style: none;
  }
}
